<div class="container">
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="footer-logo-content">
                    <div class="footer-logo">
                        <a class="navbar-brand py-0 me-0" href="#"><h3 class="dark">Comapny Detailes</h3></a>
                    </div>
                    <div class="footer-item-content">
                        <p class="text fs-7">
                           Start your career journey with us,
                           where we connect your talents with
                           endless opportunities for growth and 
                           success
                        </p>
                    </div>
                    <div class="socials-icon">
                        <ul class="d-flex align-items-center list-unstyled mb-0">
                            <li>
                                <a class="d-flex align-items-center justify-content-center rounded-circle text-decoration-none facebook-icon" href="#">
                                    <i class="ti ti-brand-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center rounded-circle text-decoration-none twitter-icon" href="#">
                                    <i class="ti ti-brand-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center rounded-circle text-decoration-none instagram-icon" href="#">
                                    <i class="ti ti-brand-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center rounded-circle text-decoration-none youtube-icon" href="#">
                                    <i class="ti ti-brand-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="footer-link-list">
                    <h5 class="footer-title fw-normal">Support</h5>
                    <ul class="list-unstyled mb-0">
                      
                        <li><a class="text-decoration-none fs-7" href="#">Contact Us</a></li>
                        <li><a class="text-decoration-none fs-7" href="#">Terms & Condition</a></li>
                        <li><a class="text-decoration-none fs-7" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-contact-us">
                    <h5 class="footer-title fw-normal">Contact Us</h5>
                    <div class="call">
                        <a class="text-decoration-none d-flex align-items-center" href="tel:(406)555-0120">
                            <!-- <img src="call.svg" alt=""> -->
                            +91 9674589345
                        </a>
                    </div>
                    <div class="mailto">
                        <a class="text-decoration-none d-flex align-items-center" href="mailto:tim.jennings@example.com">
                            <!-- <img src="mail.svg" alt=""> -->
                            job.jobportals@example.com
                        </a>
                    </div>
                    <div class="address">
                        <p class="text mb-0 fs-7 d-flex align-items-center">
                            <!-- <img src="home.svg" alt=""> -->
                            ABC building, kochi 612 499
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright-text text-center">
    <p class="text mb-0">@2024 - All Rights Reserved by <a href="https://adminmart.com/" class="primary-text text-decoration-none">JobPoratl.com</a></p>
</div>