{% extends "base.html" %}


{% block content %}



    {% load static %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    
    <hr>
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <h2 class="display-4 text-dark font-bold">Welcome Employer</h2>
            </div>
            <div class="col-7 ml-auto"> 
                <img src="{% static 'img/arrow2.png' %}" alt="no image">
                <a href="{% url 'accounts:jobpost' %}">
                    <button type="button" class="btn btn-success">Post Job</button>
                 </a>
            </div>
           
        </div>
    </div>
   
    <hr>
    <div class="container">


        <div class="row">
            <!-- First row with 4 containers -->
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- Repeat similar structure for other containers... -->
        </div>
    <div class="container">
        <div class="row">
            <!-- First row with 4 containers -->
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-custom mb-4 ">
                    <img src="image1.jpg" class="card-img-top img-fluid" alt="Job Image">
                    <div class="card-body text-center">
                        <h5 class="card-title-custom">Job Title 1</h5>
                        <p class="card-text">Salary: $100,000</p>
                        <p class="card-text">Location: New York</p>   
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accounts:postedjobdetailes' %}">
                              <button class="btn btn-primary btn-sm">
                                 Detailes
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
           
            <!-- Repeat similar structure for other containers... -->
        </div>
    </div>





   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
{% endblock content %}
    