{% extends "base.html" %}


{% block content %}
<div class="container bootstrap snippet">
    
    <div class="row">
          
        {% comment %} <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div> {% endcomment %}
    </div>
    <div class="row">
          <div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <h4 class="text-center">Welcome...<h4>
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <div class="col-sm-10"><h1 class="hed">User name</h1></div>
       
    </div></hr><br>

     
          
        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" style="background-color: #f0f0f0; color: #333;">Personal</a>
                    </li>
                    
                </ul>
              </ul>

              
           <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>  
                  <form  method="post" >
                    {% csrf_token %}
                      <div class="form-group">
                        <label class="labels">Company Name</label>
                        {% include 'components/form_field.html' with field=form.company_name %}
                      </div>
                      <div class="form-group">
                        <label class="labels">Designation</label>
                         {% include 'components/form_field.html' with field=form.designation %}
                      </div> 
                      <div class="form-group">
                        <label class="labels">Location</label> 
                        {% include 'components/form_field.html' with field=form.location %}
                     </div>
          
                      
                      
                           <div class="col-xs-12">
                                <br>
                                 
                                  <button class="btn btn-lg btn-success" type="submit">Save</button>
                                   {% comment %} <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> {% endcomment %}
                            </div>
                        
                      </div>
                 
              
              <hr>
              
             </div><!--/tab-pane--> 
             
                    
                   
                 
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    
{% endblock content %}
    